.contact{
    height:500px;
    margin: 10px 0;
    background-color:#000;
    color:#fff;
    
}
.content h2{
text-align: center;
font-size: 45px;
color:white;
}    
.content p{
font-size: 15px;
padding: 15px 0;
}